<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>About Me</h2>
<div class="summary">
    <p>I was born in Argentina from Korean parents and moved to the UK in 2014 to chase my career goals. I graduated from the MEng Electronic Engineering with Artificial Intelligence course at the University of Southampton.</p>
    <p><strong>Degree grade: First Class</strong></p>
    <p>You can access my <a href="./assets/cv.pdf" target="_blank">PDF Résumé here</a>.</p>
</div><!--//summary-->
</section><!--//section-->
