<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Embedded Device Developer (Summer Intern)</h3>
                            <div class="time">Summer of 2015 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">nquiringminds, Southampton</div>
                    </div><!--//meta-->
                    <div class="details">
                        <h5>2015</h5>
                        <p>I designed and developed a set of IoT (Internet of Things) sensors, including temperature, humidity, carbon monoxide, combustible gas and sound sensors, that were deployed to several industrial settlements. The development process involved research and sourcing of electronic components, circuit design, PCB drawing, 3D CAD modelling and mechanical desing of the cases.</p>  
                        <p>Moreover, I wrote the software for the sensors according to the company's requirements as well as the backend functionality needed to communicate with the <a href="https://tdx.nq-m.com/auth/email">IoT platform</a>.</p>
                        <h5>2016</h5>
                        <p>I reverse engineered <a href="https://directory.ifsecglobal.com/smart-home-kit-prod668335.html">Heiman's Home Automation Kit</a> and integrated the sensors into our IoT platform. I also developed suitable frontend and backend applications using Javascript and NodeJS. Sample data that has been collected with these sensors can be found in <a href="https://tbx.nq-m.com/dataset/view/SylHEEb8wW">nquiringminds' TDX</a> (Trusted Data Exchange).</p>
                        <h5>2017</h5>
                        <p>I was involved in the <a href="http://gtr.rcuk.ac.uk/projects?ref=102758">Graincare project</a> funded by Innovate UK. Together with one other intern and members of Brunel University, we developed an IoT solution and framework to measure different aspects of grain storages in India to help prevent rotting.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Mathematics Instructor (Part Time)</h3>
                            <div class="time">2015 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://www.kumon.co.uk/Southampton/index.htm">Kumon</a>, Southampton</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">UI Developer</h3>
                            <div class="time">2012 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Amazon, London</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->