<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Embedded Device Developer (Summer Intern)</h3>
                            <div class="time">Summer of 2015 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://nquiringminds.com/">nquiringminds</a>, Southampton</div>
                    </div><!--//meta-->
                    <div class="details">
                        <h5>2015</h5>
                        <p>I designed and developed a set of IoT (Internet of Things) sensors, including temperature, humidity, carbon monoxide, combustible gas and sound sensors, that were deployed to several industrial settlements. The development process involved research and sourcing of electronic components, circuit design, PCB drawing, 3D CAD modelling and mechanical design of the cases.</p>  
                        <p>Moreover, I wrote the software for the sensors according to the company's requirements as well as the backend functionality needed to communicate with the <a href="https://tdx.nq-m.com/auth/email">IoT platform</a>.</p>
                        <h5>2016</h5>
                        <p>I reverse engineered <a href="https://directory.ifsecglobal.com/smart-home-kit-prod668335.html">Heiman's Home Automation Kit</a> and integrated the sensors into our IoT platform. I also developed suitable frontend and backend applications using Javascript and NodeJS. Sample data that has been collected with these sensors can be found in <a href="https://tbx.nq-m.com/dataset/view/SylHEEb8wW">nquiringminds' TDX</a> (Trusted Data Exchange). These sensors were then deployed and implemented for the <a href="http://nquiringminds.com/careshare-home-care-services-innovation-spearheaded-in-southampton/">Careshare Project</a> in Southampton.</p>
                        <h5>2017</h5>
                        <p>I was involved in the <a href="http://gtr.rcuk.ac.uk/projects?ref=102758">Graincare project</a> funded by Innovate UK. Together with one other intern and members of Brunel University, we developed an IoT solution and framework to measure different aspects of grain storages in India to help prevent rotting and maximise productivity.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Mathematics Instructor (Part Time)</h3>
                            <div class="time">2015 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://www.kumon.co.uk/Southampton/index.htm">Kumon</a>, Southampton</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I was in charge of instructing young students to help them learn mathematics topics. This position involved teaching, assessing students' work and providing them with constructive feedback.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">3rd Year Individual Project</h3>
                            <div class="time">2016 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">University of Southampton, Southampton</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>My project's title was <em><a href="./assets/report.pdf" target="_blank">Linear Quadratic Regulation using Reinforcement Learning</a></em> and its main objective was to apply reinforcement learning algorithms to balance an inverted pendulum with one of its ends attached to a controllable cart. Algorithms and concepts such as the Bellman Equations, Temporal Difference Learning and Adaptive Q-Learning were implemented. The theoretical research was mainly based on the <em>"Reinforcement Learning: An Introduction"</em> book by <em>Sutton</em> and <em>Barto</em>, as well as the series of Reinforcement Learning lectures presented by <em>David Silver</em>, from <em>Google Deepmind</em>.</p>  
                        <p><strong>Obtained grade: First Class</strong></p>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->