<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Activities</h2>
                <!--<div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div>//intro-->
                <div class="item">
                    <span class="project-title">JP Morgan Machine Learning Workshop</span> - <span class="project-tagline">An event hosted by JP Morgan where we were introduced the foundation of Machine Learning and how it is generating a huge impact in industry.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">UN Debate Award, Argentina</span> - 
                    <span class="project-tagline">Received an Award for outstanding performance in a debate event sponsored by the United Nations in Argentina. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Tempo</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote their products or services and to attract users &amp; investors</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Atom</a></span> - <span class="project-tagline">A comprehensive website template solution for startups/developers to market their mobile apps. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Delta</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
                </div><!--//item-->
            </section><!--//section-->