<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Events</h2>
                <!--<div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div>//intro-->
                <div class="item">
                    <span class="project-title"><a href="">JP Morgan Machine Learning Workshop, London</a></span> - <span class="project-tagline">An event hosted by JP Morgan where we were introduced the foundation of Machine Learning and how it is generating a huge impact in industry.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="">UN Debate Award, Buenos Aires</a></span> - 
                    <span class="project-tagline">Received an Award for outstanding performance in a debate event sponsored by the United Nations in Argentina. </span>
                </div><!--//item-->
            </section><!--//section-->